@import url("plex-fonts/plex.css");

:root {
  --theme-background: var(--cds-background);
  --theme-text: var(--cds-text-primary);
  --cds-field: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --theme-background: #262626; /* background for g90 */
    --theme-text: #f4f4f4; /* text for g90 */
    --cds-field: #262626;
  }
}

body {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  margin-top: 4rem;
  padding: 0;
  background-color: var(--theme-background);
  color: var(--theme-text);
}
a:any-link:active, a:any-link:hover {
  text-decoration: none;
  color: var(--cds-link-primary-hover);
}
a:any-link {
  color: var(--cds-link-primary);
}

cds-header {
  border-bottom: 1px solid var(--cds-border-inverse);
}

.hero {
  margin-top: 3rem;
  height: 3rem;
  .hero-content {
    height: calc(100% + 12rem);
    background-image: url('./hero.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, var(--background) 0%, transparent 2rem, white 100%), url('./hero.svg');
    filter: blur(1px);
  }
}

:root {
  --cds-grid-columns: 8
}

cds-tile {
  margin: 1rem;
  padding: 1rem;
  ul {
    list-style: none;
    padding-inline-start: 0;
    li {
      margin-bottom: 0.32rem;
    }
  }
  h2 {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: light) {
  cds-tile#lab-materials {
    background-color: #d0e2ff;
  }
}

cds-tile#services-tile {
  .link-groups ul li .more-info {
    font-size: 0.75em;
    position: relative;
    margin-top: 0.25em;    
    margin-left: 1em;
    dt {
      font-weight: bold;
      position: absolute;
      width: 5.5em;
    }
    dd {
      position: relative;
      left: 6.5em;
      width: calc(100% - 7.5em);
      margin: 0 0 0.5em 0;
    }
    dd.clipboard {
      cursor: pointer;
    }
    dd.clipboard::before {
      content: '\2750';
      cursor: pointer;
      margin-right: 0.35em;
      opacity: 0.32;
      font-size: 0.8em;
    }
    dd.clipboard:hover {
      background-color: #00000010;
      border-radius: 0.1em;
    }
    @media (prefers-color-scheme: dark) {
      dd.clipboard::before {
        opacity: 0.62;
      }
      dd.clipboard:hover {
        background-color: #ffffff20;
      }
    }
    .italic {
      font-style: italic;
    }
  }
}

#rest-client {
  .form-section {
    display: block;
    .field-wrapper {
      display: block;
      margin-top: 1.13rem;
      label {
        display: inline-block;
        min-width: 6rem;
      }
      label + select, label + input {
        display: inline-block;
        width: calc(100% - 8rem);
        margin: 0.25rem 0;
      }
      label + select {
        height: 1.5rem;
      }
      label + input {
        height: 1.25rem;
        width: calc(100% - 9rem);
      }
      #host-selected {
        margin-top: 0.5rem;
        .description:not(:empty)::before {          
          font-size: 0.5rem;
          content: "ℹ︎";
          background-color: var(--cds-icon-interactive);
          color: var(--cds-icon-inverse);
          border-radius: 50%;
          padding: 0 0.15rem;
          margin-right: 0.25rem;
          position: relative;
          top: -0.125rem;
        }
        .description:not(:empty) {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
        }
        .base-url {
          font-size: 0.8rem;
          font-style: italic;
        }
        .header-field-wrapper {
          input {
            width: calc(100% - 4rem);
          }
          button {
            width: 3em;
          }
        }
      }
    }
  }
  #response-heading {
    margin-top: 1rem;
  }
  .response-status {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  .response-headers {
    font-size: 0.75rem;
    .response-header-key::after {
      content: ': ';
      font-weight: bold;
      font-size: 0.9em;
    }
    .response-header-value {
      font-size: 0.85em;
    }
  }
  .cds--select, .cds--text-input, .cds--textarea {
    background-color: white
  }
}
