@import url("plex-fonts/plex.css");

body {
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

cds-header {
  border-bottom: 1px solid #e0e0e0;
}

.hero {
  margin-top: 3rem;
  height: 3rem;
  .hero-content {
    height: calc(100% + 12rem);
    background-image: url('./hero.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, white 0%, transparent 2rem, white 100%), url('./hero.svg');
    filter: blur(1px);
  }
}

:root {
  --main-bg-color: #ffffff;
  --section-bg-color: #f2f4f8;
  --error-bg-color: #ffb3b8;
  --error-border-color: #750e13;
  --error-text-color: #da1e28;
  --main-text-color: #000000;
  --button-bg-active: #001d6c;
  --button-bg: #0043ce;
  --button-bg-disabled: #697077;

  --cds-grid-columns: 8
}

body {
  font-size: 10pt;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  margin: 0;
}

cds-tile {
  background-color: var(--section-bg-color);
  margin: 1rem;
  padding: 1rem;
  ul {
    list-style: none;
    padding-inline-start: 0;
    li {
      margin-bottom: 0.32rem;
    }
  }
}

cds-tile#lab-materials {
  background-color: #d0e2ff;
}

cds-tile#services-tile {
  .link-groups ul li .more-info {
    font-size: 0.75em;
    position: relative;
    margin-top: 0.25em;    
    margin-left: 1em;
    dt {
      font-weight: bold;
      position: absolute;
      width: 5.5em;
    }
    dd {
      position: relative;
      left: 6.5em;
      width: calc(100% - 7.5em);
      margin: 0 0 0.5em 0;
    }
    dd.clipboard {
      cursor: pointer;
    }
    dd.clipboard::before {
      content: '\2750';
      cursor: pointer;
      margin-right: 0.25em;
      opacity: 0.32;
      font-size: 0.8em;
    }
    dd.clipboard:hover {
      background-color: #00000010;
      border-radius: 0.1em;
    }
    .italic {
      font-style: italic;
    }
  }
}

.rest-client {
  display: none;
}
